body {
    font-family: 'Lato', sans-serif;
    background-color: white;    
}

h1 {
    margin-bottom: 20px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    width: 80%;
    margin-left: 3px;
    display: inline-block; 
  width: 100px;
    
}

.btn-style{
    font-weight: 300;
    
    letter-spacing: 0.1em;
      
    margin-left: 3px;
    
}

/* .help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

} */

.card{
	margin-left: 10px;
	margin-right: 10px;
}

.custom {
    width: 170px !important;
}

.style{
    width: 180px !important;
}
